/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 czechitas  #b92e81
 pozadi     #bdc3c7
 tmava      #31363b
 delitka    #3f464d
 portfolio  #e74c3c
 facebook   #3b5998
 twitter    #1da1f2
*/


body {
    background-color: #bdc3c7;
}

.profil{
    background-color:#31363b;
    width:250px;
    margin: 50px;
    font-size: 14px;
    font-family: "Source Sans Pro", sans-serif;
    color:#bdc3c7;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5)
}

.hlavicka{
    position: relative;
}

.foto{
   width:100%;
   height: auto;
    display:block;
}

.logo { 
    border-radius: 50%;
    background-color: #b92e81;
    position: absolute;
    bottom: -25px;
    right:25px;
    z-index: 10;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
   
    
}
.obsah{
    padding: 30px 20px 20px 20px;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;  
    margin: 0 0 20px 0;
    font-weight: normal;
    color: #fff;
}

.odkazy {
    margin: 0;
    padding: 0;
    list-style: none;

}

 .odkazy li {
    display: inline-block; 

}
.portfolio {
    width: 100%;
    border-top: 1px solid #3f464d;
    border-bottom: 1px solid #3f464d;
}
.twitter , .facebook  { 
    width: 50%
}
.facebook {
    border-right:1px solid #3f464d;
}
 
.odkazy a {
    color:#bdc3c7;
    text-decoration: none;
    display: block; 
    padding: 10px;
   text-align: center;
   font-family: "Montserrat";
    text-transform: uppercase;

}

.portfolio a:hover {
   background-color: #e74c3c;
  
}

.twitter a:hover{
    background-color: #1da1f2;  
}
   
.facebook a:hover {
    background-color: #3b5998;
   
}

.odkazy a: :hover{
    color:#fff;
}

   





